<div class="post-preview card my-3">
    <div class="card-body">
        <a href="{{ .RelPermalink }}">
            <h2 class="card-title">{{ .Title }}</h2>
        </a>
        <h7 class="post-meta text-muted card-subtitle">Published {{ dateFormat .Site.Params.DateForm .Date }}</h7>
        <div class="post-summary my-2 card-text">
            {{ .Summary }}
        </div>
        {{ if .Truncated }}
            <a class="card-link btn btn-sm btn-outline-info my-2 stretched-link" href="{{ .RelPermalink }}" >Continue reading</a>
        {{ end }}
    </div>
</div>