<!-- FundDrive 2023 HTML -->
<div class="fund-banner fund-banner--light bg-light fixed-top {{ if .IsHome }}transparent{{ end }}">
    <div class="container-sm">
        <div class="fund-banner__row">
            <div class="fund-banner__text--light">
                The KiCad 2024 Fund Drive surpassed all expectations! <br /> Thank you to all who donated.
                <a href="/blog/2024/05/2023/24-Funding-Drive-Success/"> Read More</a>
            </div>
            <div class="fund-banner__bar">
                <div class="fund-banner__bar-container">
                    <div class="fund-banner__bar-progress"></div>
                    <div class="fund-banner__bar-current">
                        <div class="fund-banner__bar-current-sum">
                            $100,000+
                        </div>
                        <div class="fund-banner__bar-current-text">
                            donated
                        </div>
                    </div>
                </div>
                <div class="fund-banner__bar-total">
                    $100,000 TOTAL
                </div>
            </div>
            <div class="fund-banner__close-btn">
                <button type="button" aria-label="Close fund drive banner"></button>
            </div>
        </div>
    </div>
</div>